# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE Directories
.idea/
.vscode/
*.swp
*.swo

# Temporary & Log Files
*.log
tmp/
scratch/

# Build & Dependencies
node_modules/
.vitepress/dist/
.vitepress/cache/
pnpm-lock.yaml
